<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="ApplicationName" value="Logs" />
  <variable name="ApplicationModule" value="EncryptAllProcs" />
  <variable name="LogDirectory" value="${basedir}/${ApplicationName}/${ApplicationModule}/"/>
  <targets>
    <target name="file"
              xsi:type="File"
              fileName="${LogDirectory}\${ApplicationModule}.${shortdate}.log"
              layout="${longdate} | ${level} | ${logger} | ${message} | ${exception:format=tostring}"
              archiveFileName="${LogDirectory}\${ApplicationModule}_${shortdate}.{##}.log"
              keepFileOpen="true"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              maxArchiveFiles="30"/>
    <target name="ColoredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
      layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

  </targets>

  <rules>
    <logger name="*" writeTo="File,ColoredConsole" minlevel="Trace" />
  </rules>
</nlog>